<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YOUR COLLEGE NAME</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="header">
        <div class="logo_icon">
           <div class="img_div" >
            <img class="icon" src="/img/l2.png" alt="">
           </div>
        </div>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/new-admission">New</a></li>
                <li><a href="/transfer-admission">Transfer</a></li>
                <li><a href="/cancel">Cancel</a></li>
                <li><a href="/report">Reports</a></li>   
                <li><a href="/">LogOut</a></li>
                <li><a href="/Powered_by">Powered-By</a></li> 
            </ul>
            
        </nav>
    </header>
    <main>
        <%- body%>
    </main>
    
    <footer>
        
    </footer>
</body>
</html>