<link rel="stylesheet" href="/css/ad_report.css">
<div class="main">
    <h2 class="count">Total No of Cancel Adminssion:<%= count %></h2>
    <div class="search_option">
    <form action="/date_cancel_reports" method="post">
    <div class="date_search">
        <h2 for="dept">Date</h2>
    <input type="date" id="date" name="date">
    <button type="submit">Get Report</button>
</div>
    </form>

    <form action="/dept_cancel_reports" method="post">
    <div class="dept_search">
    <h2 for="dept">Select Course:</h2>
    <select name="dept" id="dept">
        <option value="default" selected disabled hidden>Choose a course...</option>
        <% options.forEach(function(option) { %>
            <option value="<%= option.title %>"><%= option.title %></option>
        <% }); %>
    </select>
    <button type="submit">Search</button>
    </div>
    </form>
    </div>
</div>