<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/home.css">
    <title></title>
</head>
<body>
    <center>
        <div class="img_logo">
            <img src="./img/l2.png" alt="loading" width="150px">
        </div>
        <h1 class="clg_name">Your College Name</h1>
        <h2 class="un_admission">UNAIDED ADMISSION</h2>
        <div class="admission_img">
            <img src="./img/admission.png" alt="loading" width="230px">
        </div>
    </center>
    <script>
       
    </script>
</body>
</html>