<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/developer.css">
    <title></title>
</head>
<body>
<div class="main">
    <div class="heading">
        <h1>Powered-By</h1><br>
        <span>Department of Artificial Intelligence & Data Science (AI & DS)</span>
    </div>
    <div class="content">
        <div class="developers">
            <h1>DEVELOPERS</h1>
            <h3>K.SOUNDHARRAJ</h3>
            <h3>S.DHANUSH</h3>
            <h3>T.KARTHICK</h3> 
            <h3>A.RAGHU</h3>
        </div>
        <div class="mentors">
            <h1>MENTOR</h1>
            <h3>Dr.M.RAMALINGAM</h3> 
        </div>
    </div>
</div>
</body>
</html>