<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="container">
    <div class="form-container">
        <form action="/signup_data" method="POST">
            <h1>Sign in Your Account</h1><br>
            <span>Admin Olny</span>
            <input type="text" id="username" name="username" required placeholder="user name">
            <input type="password" id="password" name="password" required placeholder="password">
            <input type="password" id="cpassword" name="cpassword" required  placeholder="Confirm Password">
            <button type="submit">Sign UP</button>  
            <span class="log">Already have an account ?    <a href="/">Login</a> </span>         
        </form>
    </div>
    </div>
</body>
</html>